
.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; }
  
  .card-text {
    margin-bottom: 10px;
  }
  

  .fas {
    margin-right: 5px; 
  }
  