<app-header></app-header>

<div class="container">
    <div class="row justify-content-start  mb-3">
   
    </div>
    <div *ngIf="deleteSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ deleteSuccessMessage }}
      <button type="button" class="close" (click)="clearDeleteSuccessMessage()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let performance of performances">
        <div class="card mb-3">
      
          <div class="card-body">
            <p class="card-text">Season: {{ performance.season }}</p>
            <p class="card-text">Total Goals Scored: {{ performance.totalGoalsScored }}</p>
            <p class="card-text">Average Pass Completion Rate: {{ performance.averagePassCompletionRate }}</p>
            <p class="card-text">Total Distance Covered: {{ performance.totalDistanceCovered }}</p>
            <p class="card-text">Total Matches Played: {{ performance.totalMatchesPlayed }}</p>
            <p class="card-text">Yellow Cards: {{ performance.yellowCards }}</p>
            <p class="card-text">Red Cards: {{ performance.redCards }}</p>
            <p class="card-text">Minutes Played: {{ performance.minutesPlayed }}</p>
          </div>
          
          <button type="button" class="btn btn-danger btn-sm" (click)="retourFunction()">
            <i class="fas fa-arrow-left"></i> Return Back
          </button>
        </div>
      </div>
    </div>
  
  </div>
  <app-footer></app-footer>