<body class="g-sidenav-show   bg-gray-100">
  <div class="position-absolute w-100 min-height-300 top-0" [style.backgroundImage]="'url(' + backgroundImageSrc + ')'" style="background-position-y: 0%;">
      <span class="mask bg-primary opacity-6"></span>
  </div>
  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
      <div class="sidenav-header">
          <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
          <a class="navbar-brand m-0">
              <img src="assets/img/KICKOFF4.png" class="navbar-brand-img" alt="main_logo" style="max-height: 100px; width: auto; height: auto;">
          </a>
      </div>
      <hr class="horizontal dark mt-0">

      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active " [routerLink]="['/dash']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Data Visualization </span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/inscription']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
                          <!-- Updated icon class -->
                      </div>
                      <span class="nav-link-text ms-1">Inscription</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="toggleUserSubMenu()">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Data Management</span>
                </a>

                <ul *ngIf="isUserSubMenuOpen" class="sub-menu">
                    <p>
                        <a class="nav-link" [routerLink]="['/player']">
                            <i class="fa-sharp fa-light fa-person"></i>
                            <span class="nav-link-text ms-1 d-inline">Player data</span>
                        </a>
                    </p>
                
                    <p>
                        <a class="nav-link" [routerLink]="['/coach']">
                            <i class="ni ni-settings-gear-65"></i>
                            <span class="nav-link-text d-inline">Coach data</span>
                        </a>
                    </p>
                    <p>
                        <a class="nav-link" [routerLink]="['/doctor']">
                            <i class="ni ni-ambulance"></i>
                            <span class="nav-link-text d-inline">Doctor data</span>
                        </a>
                    </p>
                    <p>
                        <a class="nav-link" [routerLink]="['/fitnessCoach']">
                            <i class="ni ni-user-run"></i>
                            <span class="nav-link-text ms-1 d-inline">Fitness Coach data</span>
                        </a>
                    </p>
                    <p>
                        <a class="nav-link" [routerLink]="['/technicalManager']">
                            <i class="ni ni-settings"></i>
                            <span class="nav-link-text ms-1 d-inline">Technical Manager data</span>
                        </a>
                    </p>
                    <p>
                        <a class="nav-link" [routerLink]="['/assistantCoach']">
                            <i class="ni ni-single-02"></i>
                            <span class="nav-link-text ms-1 d-inline">Assistant Coach data</span>
                        </a>
                    </p>
                    <p>
                        <a class="nav-link" [routerLink]="['/physiotherapist']">
                            <i class="ni ni-user-run"></i>
                            <span class="nav-link-text ms-1 d-inline">Physiotherapist data</span>
                        </a>
                    </p>
                </ul>

            </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/archived-users']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
                          <!-- Updated icon class -->
                      </div>
                      <span class="nav-link-text ms-1">Archived users</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="togglePerformanceSubMenu()">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-chart-bar-32 text-success text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Performance</span>
                  </a>

                  <ul *ngIf="isPerformanceSubMenuOpen" class="sub-menu">
                      <!-- Contenu de votre sous-liste ici -->
                      <p>
                          <a class="nav-link" [routerLink]="['/perfermance']">
                              <i class="ni ni-chart-bar-32 text-success text-sm opacity-10"></i>
                              <span class="nav-link-text ms-1 d-inline">Performance Player</span>
                          </a>
                      </p>
                      <p>
                          <a class="nav-link" [routerLink]="['/perfermancesummary']">
                              <i class="ni ni-money-coins"></i>
                              <span class="nav-link-text d-inline">Performance Summary</span>
                          </a>
                      </p>
                      <p>
                          <a class="nav-link" [routerLink]="['/matchAnalysis']">
                              <i class="ni ni-chart-pie-35"></i>
                              <span class="nav-link-text d-inline">Match Analysis</span>
                          </a>
                      </p>
                  </ul>

              </li>

              <li class="nav-item">
                  <a class="nav-link " [routerLink]="['/myleague']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 text-danger text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Matches</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " [routerLink]="['/scout']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-atom text-secondary text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Scouting</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " [routerLink]="['/health']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-ambulance text-success text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Health Care</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" (click)="toggleSubMenu()">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-credit-card text-primary text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Training</span>
                  </a>

                  <ul *ngIf="isSubMenuOpen" class="sub-menu">
                      <!-- Contenu de votre sous-liste ici -->
                      <p>
                          <a class="nav-link" [routerLink]="['/training']">
                              <i class="fas fa-calendar-alt" style="color: blue;"></i> Training Sessions
                          </a>
                      </p>
                      <p>
                          <a class="nav-link" [routerLink]="['/internships']">
                              <i class="fas fa-calendar-check" style="color: blue;"></i> Schedule internships
                          </a>
                      </p>
                      <p>
                          <a class="nav-link" [routerLink]="['/appointment']">
                              <i class="fas fa-calendar-plus" style="color:  blue;"></i> Appointment
                          </a>
                      </p>
                      <p>
                          <a class="nav-link" [routerLink]="['/meeting']">
                              <i class="fas fa-calendar" style="color:  blue;"></i> Meeting
                          </a>
                      </p>



                  </ul>
              </li>

              <li class="nav-item ">
                  <a class="nav-link " [routerLink]="[ '/Schedule'] ">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center ">
                          <i class="ni ni-calendar-grid-58 text-danger text-sm opacity-10 "></i>
                      </div>
                      <span class="nav-link-text ms-1 ">Schedule</span>
                  </a>
              </li>

              <li class="nav-item mt-3">
                  <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
              </li>
              <li class="nav-item">
                  <a class="nav-link " [routerLink]="['/profile']">
                      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                      </div>
                      <span class="nav-link-text ms-1">Profile</span>
                  </a>
              </li>




          </ul>
      </div>
      <br><br>
      <div class="sidenav-footer mx-3 ">
          <div class="card card-plain shadow-none" id="sidenavCard">
              <img class="w-50 mx-auto" src="../../../assets/images/logo.png" alt="sidebar_illustration">
              <div class="card-body text-center p-3 w-100 pt-0">

              </div>
          </div>

      </div>
  </aside>

  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type here...">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a (click)="logout() " class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">log out</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container-fluid py-2">
      <div class="col-md-11 mx-auto">
        <div class="container mt-5" id="regForm">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <p class="mb-4">Inscription</p>
            </div>
          </div>

          <div class="card-body"> 
            <button class="button-48" *ngIf="registrationForm.get('role')?.value === 'player'" (click)="registerPlayer()">Register Players</button>
           
            <form (submit)="registerUser()" [formGroup]="registrationForm">
              <div class="col-md-6">
                <div class="custom-input">
                  <select class="form-select form-select-sm" formControlName="role" id="role" aria-label="Role"
                    required>
                    <option value="">Select your role</option>
                    <option value="coach">Coach</option>
                    <option value="technicalManager">Technical Manager</option>
                    <option value="player">Player</option>
                    <option value="doctor">Doctor</option>
                    <option value="physiotherapist">Physiotherapist</option>
                    <option value="assistantCoach">Assistant Coach</option>
                    <option value="fitnessCoach">Fitness Coach</option>
                  </select>
                  <label for="role">Role</label>
                </div>
              </div> 
            <br>  
              <!-- Common fields -->

              <div class="row" *ngIf="registrationForm.get('role')?.value !== 'player'">
                <div class="col-md-6">
                  <div class="form-floating mb-3 custom-input">
                    <input type="text" class="form-control form-control-sm" formControlName="firstName" id="firstName"
                      placeholder="First Name" required>
                    <label for="firstName">First Name</label>
                    <!-- Error message for First Name -->
                    <div
                      *ngIf="registrationForm.get('firstName')?.invalid && (registrationForm.get('firstName')?.dirty || registrationForm.get('firstName')?.touched)"
                      class="text-danger">
                      <div *ngIf="registrationForm.get('firstName')?.hasError('required')" class="error-message">
                        First Name is required
                      </div>
                      <div *ngIf="registrationForm.get('firstName')?.hasError('minlength')" class="error-message">
                        First Name must be at least 3 characters long
                      </div>
                      <div *ngIf="registrationForm.get('firstName')?.hasError('maxlength')" class="error-message">
                        First Name cannot be more than 50 characters long
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Last Name -->
                <div class="col-md-6">
                  <div class="form-floating mb-3 custom-input">
                    <input type="text" class="form-control form-control-sm" formControlName="lastName" id="lastName"
                      placeholder="Last Name" required>
                    <label for="lastName">Last Name</label>
                    <!-- Error message for Last Name -->
                    <div
                      *ngIf="registrationForm.get('lastName')?.invalid && (registrationForm.get('lastName')?.dirty || registrationForm.get('lastName')?.touched)"
                      class="text-danger">
                      <div *ngIf="registrationForm.get('lastName')?.hasError('required')" class="error-message">
                        Last Name is required
                      </div>
                      <div *ngIf="registrationForm.get('lastName')?.hasError('minlength')" class="error-message">
                        Last Name must be at least 3 characters long
                      </div>
                      <div *ngIf="registrationForm.get('lastName')?.hasError('maxlength')" class="error-message">
                        Last Name cannot be more than 50 characters long
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="registrationForm.get('role')?.value !== 'player'">
                <!-- Email -->
                <div class="col-md-6">
                  <div class="form-floating mb-3 custom-input">
                    <input type="email" class="form-control form-control-sm" formControlName="email" id="email"
                      placeholder="Email" required>
                    <label for="email">Email</label>
                    <!-- Error message for Email -->
                    <div
                      *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)"
                      class="text-danger">
                      <div *ngIf="registrationForm.get('email')?.hasError('required')" class="error-message">
                        Email is required
                      </div>
                      <div *ngIf="registrationForm.get('email')?.hasError('pattern')" class="error-message">
                        Please enter a valid email address
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3 custom-input">
                    <input type="text" class="form-control form-control-sm" formControlName="age" id="age" placeholder="Age" required>
                    <label for="age">Age</label>
                    <div *ngIf="registrationForm.get('age')?.invalid && (registrationForm.get('age')?.dirty || registrationForm.get('age')?.touched)"
                      class="text-danger">
                      <div *ngIf="registrationForm.get('age')?.hasError('required')" class="error-message">
                        Age is required
                      </div>
                      <div *ngIf="registrationForm.get('age')?.hasError('pattern')" class="error-message">
                        Age must be a number with maximum 2 digits
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-floating mb-3 custom-input">
                    <input type="text" class="form-control form-control-sm" formControlName="contact" id="contact"
                      placeholder="Contact" maxlength="8" required>
                    <label for="contact">Telephone</label>
                    <div *ngIf="registrationForm.get('contact')?.invalid && (registrationForm.get('contact')?.dirty || registrationForm.get('contact')?.touched)"
                      class="text-danger">
                      <div *ngIf="registrationForm.get('contact')?.hasError('required')" class="error-message">
                        Telephone is required
                      </div>
                      <div *ngIf="registrationForm.get('contact')?.hasError('maxlength')" class="error-message">
                        Telephone cannot be more than 8 characters
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-floating mb-3 custom-input">
                    <label for="profileimage">Profile image</label>
                    <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*">
                  </div>
                </div>


              </div>

              <!-- Coach-specific fields -->
              <div *ngIf="registrationForm.get('role')?.value === 'coach'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="experienceLevel"
                        id="experienceLevel" placeholder="Experience Level" required>
                      <label for="experienceLevel">Experience Level</label>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="assignedTeam"
                        id="assignedTeam" placeholder="Assigned Team" required>
                      <label for="assignedTeam">Assigned Team</label>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="trainingSchedule"
                        id="trainingSchedule" placeholder="Training Schedule" required>
                      <label for="trainingSchedule">Training Schedule</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Technical Manager-specific fields -->
              <div *ngIf="registrationForm.get('role')?.value === 'technicalManager'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="technicalExpertise"
                        id="technicalExpertise" placeholder="Technical Expertise" required>
                      <label for="technicalExpertise">Technical Expertise</label>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="systemMaintenanceDuties"
                        id="systemMaintenanceDuties" placeholder="System Maintenance Duties" required>
                      <label for="systemMaintenanceDuties">System Maintenance Duties</label>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm"
                        formControlName="integrationResponsibilities" id="integrationResponsibilities"
                        placeholder="Integration Responsibilities" required>
                      <label for="integrationResponsibilities">Integration
                        Responsibilities</label>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="technicalSupportContact"
                        id="technicalSupportContact" placeholder="Technical Support Contact" required>
                      <label for="technicalSupportContact">Technical Support Contact</label>
                    </div>
                  </div>
                </div>
              </div>
              
             
              <!-- Doctor-specific fields -->
              <div *ngIf="registrationForm.get('role')?.value === 'doctor'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <select class="form-select form-select-sm" formControlName="medicalQualifications"
                        id="medicalQualifications" required>
                        <option value="" disabled selected>Select Medical Qualification</option>
                        <option value="MD">MD - Doctor of Medicine</option>
                        <option value="FRCOG">FRCOG - Fellow of the Royal College of Obstetricians and Gynaecologists
                        </option>
                        <option value="FRSC">FRSC - Fellow of the Royal Society of Canada</option>
                        <option value="PhD">PhD - Doctor of Philosophy</option>
                        <option value="MPH">MPH - Master of Public Health</option>
                        <option value="DPM">DPM - Diploma of Psychological Medicine</option>
                        <option value="FACOG">FACOG - Fellow of the American College of Obstetricians and Gynecologists
                        </option>
                        <option value="MSN">MSN - Master of Scientific Nursing</option>
                        <option value="FRCS">FRCS - Fellow of the Royal College of Surgeons</option>
                        <option value="MBBS">MBBS - Bachelor of Medicine and Bachelor of Surgery</option>
                        <option value="MBA">MBA - Master of Business Administration</option>
                        <option value="MSc">MSc - Master of Science</option>
                        <option value="FACS">FACS - Fellow of the American College of Surgeons</option>
                        <option value="FRCSC">FRCSC - Fellow of the Royal College of Surgeons of Canada</option>
                        <option value="MMed">MMed - Master of Medicine</option>
                        <option value="ABR">ABR - American Board of Radiology</option>
                        <option value="MHS">MHS - Master of Health Sciences</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="specializations"
                        id="specializations" placeholder="Specializations" required>
                      <label for="specializations">Specializations</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Physiotherapist-specific fields -->
              <div *ngIf="registrationForm.get('role')?.value === 'physiotherapist'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="medicalQualifications"
                        id="medicalQualifications" placeholder="Medical Qualifications" required>
                      <label for="medicalQualifications">Medical Qualifications</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="expertiseAreas"
                        id="expertiseAreas" placeholder="Expertise Areas" required>
                      <label for="expertiseAreas">Expertise Areas</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Assistant Coach-specific fields -->
              <div *ngIf="registrationForm.get('role')?.value === 'assistantCoach'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="coachingExperience"
                        id="coachingExperience" placeholder="Coaching Experience" required>
                      <label for="coachingExperience">Coaching Experience</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="specializedArea"
                        id="specializedArea" placeholder="Specialized Area" required>
                      <label for="specializedArea">Specialized Area</label>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- Fitness Coach-specific fields -->
              <div *ngIf="registrationForm.get('role')?.value === 'fitnessCoach'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm"
                        formControlName="fitnessTrainingExperience" id="fitnessTrainingExperience"
                        placeholder="Fitness Training Experience" required>
                      <label for="fitnessTrainingExperience">Fitness Training Experience</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 custom-input">
                      <input type="text" class="form-control form-control-sm" formControlName="specializedArea"
                        id="specializedArea" placeholder="Specialized Area" required>
                      <label for="specializedArea">Specialized Area</label>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="notificationMessage" class="alert alert-info" role="alert">
                <i class="fas fa-check"></i>
                {{ notificationMessage }}
              </div>
              <div *ngIf="notificationMessageUser" class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-circle"></i>
                {{ notificationMessageUser }}
              </div>
              <div class="col-md-2 button-container" *ngIf="registrationForm.get('role')?.value !== 'player'">
                <div class="d-grid">
                  <button class="custom-button btn-lg float-end" type="submit">Inscription</button>
                </div>
              </div>
              
              <br>
              <div *ngIf="notification" class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-circle"></i>
                {{ notification }}
              </div>
              
            </form>
          </div>
        </div>
      </div>



    </div> 
    <app-footer></app-footer>

  </main>