.card {
  margin-top: 20px;
}

.card-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}



.card-text {
  color: #000; /* Mettre la couleur du texte en noir */
}

.container {
  padding-top: 50px;
  
}
h2{
  color: aliceblue;
}

.section-title {
  color: #19204e; 
  font-size: 25px;
    margin-bottom: 20px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  text-align: center;
  }