<div class="modal-container">

    <div class="card">
        <div class="card-body">
            <button class="cancel-btn" (click)=" fermerModal()">
              <i class="fas fa-times"></i> <!-- Cancel icon -->
          </button>
            <p class="card-text"><strong>StartDate :</strong> {{ formaterDate(data?.eventDetails.startDate) }}</p>
            <p class="card-text"><strong>EndDate :</strong> {{ formaterDate(data?.eventDetails.endDate) }}</p>
            <p class="card-text"><strong>Place :</strong> {{data?.eventDetails.lieu }}</p>

        </div>
    </div>
</div>