.container {
  padding-top: 20px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-header {
  background-color: black;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-weight: bold;
color: #ccc;  }

.card-body {
  padding: 15px;
}


/* Ajouter un espace entre les boutons */
.card button {
  margin-right: 30px; /* Espacement à droite entre les boutons */
}

/* Styles pour les boutons d'information */
.card button.btn-info {
  background-color: #17a2b8; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 8px 16px; /* Ajouter un rembourrage intérieur */
}

/* Styles pour les boutons de mise à jour */
.card button.btn-primary {
  background-color: #6c757d; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 8px 16px; /* Ajouter un rembourrage intérieur */
}

/* Styles pour les boutons de suppression */
.card button.btn-danger {
  background-color: #dc3545; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 8px 16px; /* Ajouter un rembourrage intérieur */
}

/* Styles pour les boutons lorsqu'ils sont survolés */
.card button:hover {
  opacity: 0.8; /* Réduire légèrement l'opacité */
}


@media screen and (max-width: 576px) {
  .btn {
    margin-bottom: 5px;
  }
}
.section-title {
  color: #19204e; 
  font-size: 2.5rem; 
  margin-bottom: 30px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  text-align: center;
  }
  