<!--footer-->
<app-chatbot></app-chatbot>

<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">About KickOff</h3>
          <p>Welcome to KickOff, where we offer comprehensive tools and insights for football team management.<br> Our
            platform is designed to help coaches, managers, and players enhance their performance through advanced
            analytics and streamlined management processes.<br> Explore our features to see how we can transform your
            team's approach to the game!</p>

          <div>
            <h3 class="footer-heading mb-4">Follow Us</h3>
            <div>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="row mb-5">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Quick Menu</h3>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="Forwho">For Who</a></li>
              <li><a href="PerfermancePlayer/perfermance-list">Performance Analytics</a></li>
              <li><a href="Training">Training</a></li>
              <li><a href="Health">Health care</a></li>
              <li><a href="scout">Scouts</a></li>
              <li><a href="matchapi">Matches</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Watch Video</h3>

          <div class="block-16">
            <figure>
              <!-- Remplacement de l'image et du lien par une balise vidéo -->
              <video width="100%" height="auto" controls style="max-width: 300px; height: auto;">
                <source src="assets/video/Thynk.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
          </div>
        </div>
      </div>

    </div>
    
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          Made with love by SpaceDev | &copy;
          <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script>document.write(new Date().getFullYear());</script> All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>